@use 'sass:math';

// Path is relative to the stylesheets directory.
$assets-path: '~/assets/'  !default;

// Base
$base-font-family: 'SuisseIntl', sans-serif;

// Family
$font-primary: 'SuisseIntl', sans-serif;

// Headings
$font-size-h1:  80px !default;
$font-size-h2:  50px !default;
$font-size-h3:  36px !default;
$font-size-h4:  28px !default;
$font-size-h5:  20px !default;
$font-size-h6:  18px !default;

// Weights
$light:     300;
$normal:    400;
$medium:    500;
$semi-bold: 600;
$bold:      700;

// Transitions
$speed:  .45s;
$easing: $ease;

// Spacing Units
$unit:       2vw;

// Container
$container-width: 100vw;
$margin:         $unit;

// Options
$enable-smooth-scroll:  true !default;
