
// Palette
$white: #ffffff;
$black: #222222;
$lime: #dafe69;
$lime-dark: #c7ff18;
$orange: #ff8540;
$purple: #6d38f5;
$soft-purple: #9679fd;
$violet-gray: #f4f2f6;
$dark-gray: #989898;

// Selection
$selection-text-color: $white;
$selection-background-color: $purple;
