:root {
    @if $enable-smooth-scroll {
        @media (prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
        }
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100vw;
    min-height: 300vh;
    overscroll-behavior: none;
}

html {
    @include tap-highlight-color;
    @include text-size-adjust;
}

body {
    position: relative;
    font-family: $base-font-family;
    font-weight: $normal;
    font-size: rem($base-font-size);
    color: $black;
    background: $white;
    line-height: 1.35;
    @include font-smoothing;
    @include text-rendering;
}

main {
    position: relative;
    z-index: 2;
}
